
<main class="mdl-layout__content">
    <h1 class="header-text">Happy New Year</h1>
</main>


<!--
<main class="mdl-layout__content">
    <h1 class="header-text">Village IoT Dashboard</h1>
</main>
-->

<div class="row">
    <div class="box">
        <a href="/iot1" style="text-decoration:none"><h4>Channakeshavapura IoT Field Station</h4></a>
        <div class="card">
            <div class="column demo-card-wide mdl-card" style="background: transparent">
                <div class="mdl-card__supporting-text" style="color: rgb(63, 64, 143)">
                    <div id="primary">
                        <font>
                            <h5><b><font>Powermonitor Data</font></b></h5>
                            <b>Last Update at</b> <font id="power_time"></font><br><br>
                            <b>Frequency</b>: <font id="power_freq"></font>Hz<br><br>
                            <b>Voltage</b>: <font id="power_volt"></font>V<br><br>
                        </font>
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <a class="mdl-button mdl-js-button mdl-button--raised"  href="/power" style="background: rgb(93, 83, 120); color: white">
                        More Details
                    </a>
                </div>
            </div>
            <div class="column demo-card-wide mdl-card" style="background: transparent">
                <div class="mdl-card__supporting-text" style="color: rgb(63, 64, 143)">
                    <div id="content">
                        <font>
                            <h5><b><font>Soil Moisture</font></b></h5>
                            <b>Last Update at </b> <font id="soil_time"></font><br><br>
                            <b>VWC</b>: <font id="soil_vwc"> 0.5</font><br><br><br><br>
                        </font>
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <a class="mdl-button mdl-js-button mdl-button--raised"  href="/soil" style="background: rgb(93, 83, 120); color: white">
                        More Details
                    </a>
                </div>
            </div>
            <div class="column demo-card-wide mdl-card" style="background: transparent">
                <div class="mdl-card__supporting-text" style="color: rgb(63, 64, 143)">
                    <div id="primary">
                        <font>
                            <h5><b><font>Weathermonitor Data</font></b></h5>
                            <b>Last Update at</b> <font id="weather_time"></font><br><br>
                            <b>Temperature</b>: <font id="weather_temp"></font>&#8451<br><br>
                            <b>Humidity</b>: <font id="weather_freq"></font>%<br><br>
                        </font>
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <a class="mdl-button mdl-js-button mdl-button--raised"  href="/weather" style="background: rgb(93, 83, 120); color: white">
                        More Details
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="boxed">
        <h2>Channakeshavapura IoT Field Station</h2>
    </div>
    <div class="column demo-card-wide mdl-card mdl-shadow&#45;&#45;2dp">
        <div class="mdl-card__supporting-text">
            <div id="primary">
                <font>
                    <h5><font color="#a52a2a">Powermonitor Data</font></h5>
                    <b>Last Update at</b> <b id="power_time"></b><br><br>
                    <b>Frequency</b>: <font id="power_freq"></font>Hz<br><br>
                    <b>Voltage</b>: <font id="power_volt"></font>V<br><br>
                </font>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card&#45;&#45;border">
            <a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect"  href="/power">
                More Details
            </a>
        </div>
    </div>
    <div class="column demo-card-wide mdl-card mdl-shadow&#45;&#45;2dp">
        <div class="mdl-card__supporting-text">
            <div id="content">
                <font>
                    <h5><font color="#a52a2a">Soil Moisture</font></h5>
                    <b>Last Update at </b> <b id="soil_time"> 27/10/2016, 10:43:23</b><br><br>
                    <b>VWC</b>: <font id="soil_vwc"> 0.5</font><br><br><br><br>
                </font>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card&#45;&#45;border">
            <a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect"  href="/power">
                More Details
            </a>
        </div>
    </div>
    <div class="column demo-card-wide mdl-card mdl-shadow&#45;&#45;2dp">
        <div class="mdl-card__supporting-text">
            <div id="primary">
                <font>
                    <h5><font color="#a52a2a">Weathermonitor Data</font></h5>
                    <b>Last Update at</b> <b id="weather_time"></b><br><br>
                    <b>Temperature</b>: <font id="weather_temp"></font>&#8451<br><br>
                    <b>Humidity</b>: <font id="weather_freq"></font>%<br><br>
                </font>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card&#45;&#45;border">
            <a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect"  href="/weather">
                More Details
            </a>
        </div>
    </div>-->
</div>



