<div class="parallax" style="min-height: 1000px;">
    <br><br>
    <h3 align="center">Soil Monitoring Data</h3>
    <div ng-show="soilmoni.processing" align="center">
        <span class="mdl-spinner mdl-js-spinner is-active"></span>
    </div>

<div id="leftdiv">

    <div ng-show="!data==0" style="padding-left: 25%">
        <table class="mdl-data-table mdl-js-data-table" border="1px" style="background: transparent">
            <thead>
            <tr>
                <th style="text-align: center" ng-click="sort('time')">Time
                    <span class="material-icons" ng-if="!reverse">expand_less</span>
                    <span class="material-icons" ng-if="reverse">expand_more</span></th>
                <th style="text-align: center">Volumetric Water Content (%)</th>
            </tr>

            </thead>
            <tbody>
            <tr dir-paginate="n in data|orderBy:sortKey:reverse|itemsPerPage:15">
                <td class="mdl-data-table__cell--non-numeric" align="center">{{n.time}}</td>
                <td class="mdl-data-table__cell--non-numeric" align="center">{{n.vwc}}</td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls style="display: inline-block; "
                                 max-size="3"
                                 direction-links="true"
                                 boundary-links="true" >
        </dir-pagination-controls>
        <!--</div>-->
    </div>
</div>

<div id="rightdiv" align="left" >
    <div id="spectrum" style="height: 500px; background: transparent"></div>
</div>
</div>
